#none{
    display:none;
}
#trainingParentDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    height:2400px;
    width:100vw;
    background-color:lightgrey;
}
#whiteContainer{
    height:2300px;
    width:88vw;
    background-color:white;
}
.programRows{
    display:flex;
    justify-content:space-evenly;
    width:88vw;
}
.leftRowDivs{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.leftRowText{
    text-align:center;
}
.rightRowDivs{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    width:60vw;
}
.rightContent{
    text-decoration:none;
    font-weight:600;
    color:black;
}
.videoPics{
    height:50vw;
    width:50vw;
    max-height:200px;
    max-width:200px;
    border-radius:30px;
}