#none{
    display:none;
}
#trainingParentDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    height:1100px;
    width:100vw;
    background-color:lightgrey;
}
#programContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:90vw;
}
#daysParentDiv{
    display:flex;
    height:1000px;
    width:30%;
    flex-direction:column;
}
.dayDivs{
    height:10%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-top-style:solid;
    border-bottom-style:solid;
    border-right-style:hidden;
    border-left-style:solid;
    border-right-width:0px;
    border-width:3px;
    border-color:black;
    background-color:white;
}
.dayText{
    text-align:center;
}
#exercisesParentDiv{
    display:flex;
    height:1000px;
    width:30%;
    flex-direction:column;
}
.exercisesDivs{
    height:10%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-top-style:solid;
    border-bottom-style:solid;
    border-left-style:hidden;
    border-right-style:hidden;
    border-left-width:0px;
    border-right-width:0px;
    border-width:3px;
    border-color:black;
    text-align:center;
    background-color:white;
}
#videoParentDiv{
    display:flex;
    height:1000px;
    width:30%;
    flex-direction:column;
}
.videosDivs{
    height:10%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    border-top-style:solid;
    border-bottom-style:solid;
    border-left-style:hidden;
    border-right-style:solid;
    border-left-width:0px;
    border-width:3px;
    border-color:black;
    background-color:white;
}
.videosText{
    text-decoration:none;
    color:black;
    font-weight:700;
}

