#headerDiv{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    width:100vw;
    height:150px;
    background-color:black;
    /* background-color:rgb(89,35,9); This is the brown color for logo*/
}
#headerLogo{
    border-radius:80px;
    height:150px;
}
#headerMyName{
    color:white;
    margin-left:50px;
    margin-right:850px;
}