#headerParentDiv{
    display:flex;
    flex-direction:column;
}
#topHeaderDiv{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100vw;
    height:250px;
    background-color:black;
}
#leftHeaderDiv{
    display:flex;
}
#headerMyName{
    color:white;
    margin-left:50px;
}
#rightHeaderDiv{
    margin-right:25px;
}
#headerLogo{
    border-radius:80px;
    height:150px;
}
#bottomHeaderDiv{
    display:flex;
    justify-content:center;
}