#navBtnsParentDiv{
    display:flex;
    flex-direction:row;
    position:relative;
    bottom:40px;
    justify-content:space-around;
    width:100vw;
    background-color:rgb(89,35,9);
    height:40px;
    align-items:center;
    padding-top:5px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
}
.NavBtns{
    color:white;
    text-decoration:underline;
    margin-left:10px;
    margin-right:10px;
}
.NavBtns:hover{
    cursor:pointer;
}