#articlesPageParentDiv{
    background-color:grey;
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100vw;
    height:12000px;
}
#articleIdeasDiv{
    background-color: lightgoldenrodyellow;
    display:flex;
    flex-direction:column;
    width:100vw;
}
.articleVideos{
    height:60vw;
    width:80vw;
    min-width:200px;
    max-height:500px;
}
.sectionTitlesDiv{
    display:flex;
    justify-content:center;
    font-size:25px;
    text-align:center;
    text-decoration:underline;
}
.sectionInfoDivParent{
    display:flex;
    justify-content:center;
    width:100vw;
}    
.sectionInfoDiv{
    width:60vw;
    display:flex;
    flex-direction:column;
    font-weight:600;
    font-size: 20px;
}
#articleIdeasDiv2{
    display:flex;
    align-items:center;
    justify-content:center;
}
#articleIdeasTextDiv{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:60vw;

}
#wormParentDiv{
    background-color:lightblue;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:2100px;
}
.articleVidsDivs{
    height:60vw;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.textContentDivs{
    display:flex;
    flex-direction:column;
    text-wrap:pretty;
}
#abusedDiv{
    background-color:lightcoral;
    display:flex;
    flex-direction:column;
    height:3600px;
    justify-content:center;
    text-align:left;
}
.abuseTitleDivs{
    width:100vw;
    display:flex;
    justify-content:center;
}
.abusedTitles{
    font-size:25px;
    text-decoration:underline;
    text-align:center;
}
.abusedDescriptionDivs{
    width:100vw;
    display:flex;
    justify-content:center;
}
.abusedDescriptions{
    width:60vw;
    font-size:20px;
    font-weight:600;
}
#objectVsLocationDiv{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    background-color:lightseagreen;
    height:3450px;
}
#trainersDiv{
    background-color:lightyellow;
}
#startEndLightDiv{
    background-color:azure;
}
@media(max-width:300px){
    #articlesPageParentDiv{
        height:16000px;
    }
    #articleIdeasDiv{
        height:900px;
    }
    #wormParentDiv{
        height:2700px;
    }
    #objectVsLocationDiv{
        height:4800px;
    }
    #abusedDiv{
        height:4800px;
    }
}
@media(min-width:1100px){
    #articlesPageParentDiv{
        height:6100px;
    }
    #wormParentDiv{
        height:1400px;
        justify-content:center;
    }
    .articleVidsDivs{
        height:535px;
    }
    #objectVsLocationDiv{
        height:1700px;
    }
    #abusedDiv{
        height:1850px;
    }
}