#articlesPageParentDiv{
    background-color:grey;
}
#articleIdeasDiv{
    background-color: lightgoldenrodyellow;
}
#wormerDiv{
    background-color:lightblue;
}
#abusedDiv{
    background-color:lightcoral;
}
#objectVsLocationDiv{
    background-color:lightseagreen;
}
#trainersDiv{
    background-color:lightyellow;
}
#startEndLightDiv{
    background-color:azure;
}